    *{
      margin: 0;
      padding: 0;
      font-family: '微軟正黑體';
    } 
    .clear{
        clear: both;
    }
    a{
        color: inherit;
        text-decoration:none;
    }

/*************************/
/*桌機 */
/*************************/    
    .TD_navBox{
      position: fixed;
      width: 100%;
      height: auto;
	  -webkit-box-shadow: 0 0 15px #999;
      -moz-box-shadow: 0 0 15px #999;
      box-shadow: 0 0 15px #999;  
      z-index: 10;    
    }
    .TD_navArea1{
      height: 50px;
      width: 100%;
      background-color:#004d00;
      color: #fff;
      font-size: 22px;
      line-height: 40px;
      transition: 0.5s;
    }
    .TD_navArea1_alive{
       margin-top: -50px; 
    }
    .TD_navArea1_content{
        padding-left: 20px;
    }
    .TD_navArea2{
      height: 50px;
      width: 100%;
      background-color:#eee;
    } 
    .TD_navArea2_itemBox{
     height: inherit;    
    }
    .TD_navArea2_itemBox::after{
      clear: both;
      display: block;
      content: '';    
    }
    .TD_navArea2_item{
      height: inherit;
      text-align: center;
      font-size: 20px;
      float:left;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 46px;      
      transition:0.3s;    
      position:relative;  	
    }
    .TD_navArea2_item:hover{
      background-color:#ccffcc;
      cursor: pointer;
    }
    .TD_navArea2_item_content{
	    background-color: #eee;
        position:absolute;
        top:100%;
        left: 0;
        display: none;
        width:auto;
    }
    .TD_navArea2_item:hover .TD_navArea2_item_content{
        display:block;
    }   
    .TD_navArea2B2Item{
        width:auto;
        white-space:nowrap;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 100px;
    }  
    .TD_navArea2B2Item:hover{
      background-color:#ccffcc;
    }    
    .TD_navArea1_content_img{
        background-image: url(../img/logo50height.png);
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        height: 34px;
        width:50px;
        margin-top: 7px;
        margin-left: 8px;
    }
    .TD_navArea1_content_title{
        float: left;
        line-height: 50px;
        color: #fff;
        font-size: 21px;
        line-height: 45px;
        margin-left: 2px;
    }
/***************************/
/*手機*/
/***************************/ 
    
    .PH_navBox{
        background-color: #004d00;
        height: 50px;
        line-height: 40px;     
        font-size: 20px;
        position: fixed;
        width: 100%;
        z-index: 101;
    }

    .PH_navArea{
        background-color: #b3e6cc;
        position:fixed;
        height: 100%;
        width: 250px;
        top:50px;
        left: -100%;
        transition: 0.5s;
        box-shadow: 0px 10px 15px #999; 
        overflow-y:scroll;
    }
    .PH_navArea_alive{
        left: 0;
    }    
    .PH_navBox_iconBox{
        height: 50px;
        width: 50px;
        background-color: #001a00;
        cursor: pointer;
        float: right;
    }
    .PH_navBox_iconBox_relative{
        position: relative;
    }
    
    .PH_navBox_iconBox_line{
        width:60%;
        height: 3px;
        top:0px;
        background-color:#ddd;
        position: absolute;
        left: 20%;
        transition: 0.3s;
    }

    .PH_navBox_iconBox_line_1{
        top:13px;
    }
    .PH_navBox_iconBox_line_2{
       top: 23px;
    }
    .PH_navBox_iconBox_line_3{
       top: 33px;
    }   
    
    .PH_navBox_iconBox_line_1_alive{
        top: 22px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* Internet Explorer */
        -moz-transform:rotate(45deg); /* Firefox */
       -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
        -o-transform:rotate(45deg); /* Opera */
       
    }
    .PH_navBox_iconBox_line_2_alive{
        display: none;
    }
    .PH_navBox_iconBox_line_3_alive{
        top: 22px;
        transform:rotate(135deg);
        -ms-transform:rotate(135deg); /* Internet Explorer */
        -moz-transform:rotate(135deg); /* Firefox */
        -webkit-transform:rotate(135deg); /* Safari 和 Chrome */
        -o-transform:rotate(135deg); /* Opera */
        
    }
    .PH_navItem{
        display: block;
        height:40px;
       // padding-top: 10px;
       // padding-bottom: 10px;
        text-indent: 10px;
        font-size: 16px;
        background-color: 	#206040;
        cursor: pointer;
        position: static;
        overflow: hidden;
        color: #e6fff2;
        
        border-bottom-color: #008040;
        border-bottom-width: 1px;
        border-bottom-style: solid;

    }
    
    .PH_navItem:last-child{
        border-bottom-width: 0px;
    }
    .PH_navItem_alive{
        height:auto;/*自動高度使子項目顯示*/
    }
    .PH_navItem_title{
       height:inherit;    
    }
    .PH_navItemB2Item{
        position: static;
        background-color: #339966;
        cursor: pointer;
        display: block;
        font-size: 14px;	
		color:#fff;
        
    }
    .PH_navItem_flagBox{
        float: right;
        height:20px;
        width: 30px;
        padding-top: 13px;
    }
    .PH_navItem_flag{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 15px 8px;
        border-color: transparent transparent #ccffe6 transparent;
        transition: 0.1s;
    }
    .PH_navItem_flag_alive{
         transform: rotate(180deg);
    }
    .PH_navBox_iconImg{
        
        background-image: url(../img/logo50height.png);
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        height: 34px;
        width:50px;
        margin-top: 7px;
        margin-left: 8px;

    }
    .PH_navBox_title{
        float: left;
        line-height: 50px;
        color: #fff;
        font-size: 21px;
        line-height: 45px;
        margin-left: 2px;
    }
    
/***********************/
/*main*/
/***********************/    
    
    .main{ 
        font-size: 50px;
        position: static;
    }
    .main_dark{
        opacity: 0.5;
        background-color:#fff;
        position: fixed;
        width: 100%;
        height:100%;
        display: none;
        top:0;
        left: 0;
        z-index: 100; 
        transition: 1s;
    }
    .main_dark_alive{
        display: block;
        
    }
    .main_dark_alive2{
        background-color:#000;
    }
    .mainBox{
    }
    .mainBox_relative{
        position: relative;
    }
    .mainBox_skin{
        position:absolute;
        height:100%;
        width: 100%;
        top:0;
        left: 0;
        background-image:url(../img/skin.jpg);
        background-repeat: repeat;
        opacity: 0.2;
    }
    .mainBox_content{
        position:relative;
        width: auto;
        height:auto;
        top:0;
        left: 0;
        word-break: break-all;
		min-height: 800px;
		//transition: 0.5s;
    }
    .mainBox_bg{
        position: absolute;
        height:100%;
        width: 100%;
        top:0;
        left: 0;
        background-color:beige;
    }
    .mainBox_content_50{
        padding-top: 50px;
    }
    .mainBox_content_100{
        padding-top: 100px;
    }

/***********************/
/*footer*/
/***********************/
	.footer{
		width: 100%;
		height: auto;
		color:#d9f2e6;
		font-size: 15px;
		z-index: 100;
	}
	.footer::before{
		display: block;
		height: 5px;
		width: 100%;
		background-color: #194d33;
		content: '';
		z-index: 100;
		position: absolute;
	}
	.footer_relative{
		position: relative;
	}
	.footer_bg{
		position: absolute;
        height:100%;
        width: 100%;
        top:0;
        left: 0;
		background-color: #133926;
	}
	.footer_skin{
		position:absolute;
        height:100%;
        width: 100%;
        top:0;
        left: 0;
        background-image:url(../img/skin1.jpg);
        background-repeat: repeat;
        opacity: 0.1;
	}
	.footer_content{
		position:relative;
        width: auto;
        height:auto;
        top:0;
        left: 0;
        word-break: break-all;
		
		padding-top: 20px;
	 	padding-bottom: 50px;
	}
	.footer_content::after{
		clear: both;
		content: '';
		display: block;
	}
	.footer_Aare1{
		float: left;
		width: 25%;
		padding-top: 30px;
	}
	.footer_Aare1_logo{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 120px;
		height: 100px;
		background-image: url(../img/logo150x182.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.footer_Aare1_text{
		text-align: center;
		font-size: 20px;
	}


	.footer_Aare2{
		float: left;
		width: 75%;
		margin-top: 0px;
	}
	
	.footer_Aare2_Box1{
		margin-top: 5px;
	}
	.footer_Aare2_Box2{
	}
	.footer_Aare2_Box2::after{
		content: '';
		clear: both;
		display: block;
	}
	.footer_Aare2_Box1::after{
		content: '';
		clear: both;
		display: block;
	}
	.footer_Aare2_Box1_item25{
		width: 25%;
		float: left;
	}
	.footer_Aare2_Box1_item50{
		width: 50%;
		float: left;
	}
	.footer_Aare2_Box2_item{
		background:rgba(255,255,255	,0.1);
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		float: left;
		margin-right: 10px;
		margin-top: 10px;
		cursor: pointer;
		transition: 0.5s;
	}
	.footer_Aare2_Box2_item:hover{
		background:rgba(255,255,255	,0.5);
		color: #1a3300;
		font-weight: bold; 
	}
	.footer_Aare2_title{
		margin-top: 20px;	
	}




@media (max-width:900px){/*phone*/

	.footer_Aare1{
		float:none;
		width: 100%;
	}	
	.footer_Aare2{
		float:none;
		width: 100%;
		font-size: 14px;
	}
	.footer_Aare2_Box1_item25{
		width: auto;
		float:none;
		margin-bottom: 10px;
	}
	.footer_Aare2_Box1_item50{
		width: auto;
		float:none;
	}
	.footer_content{
		padding-left: 10px;
		padding-right: 10px;
	}
	
}
