	*{
		margin: 0;
		padding: 0;
		font-family: '微軟正黑體';
	}
	.ComboBox{
		//background-color: black;
	}
	.ComboBox_item{
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.ComboBox_item:after{
		margin-bottom: 0px;
	}
	.ComboBox_title{
		background-color: #267326;
		padding-right: 20%;/*ComboBox_title_flagBox    width同步*/
		padding-left: 15%; /*ComboBox_title_number   width同步*/ 
		padding-top: 20px;
		padding-bottom:20px;
		position: relative;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		transition: 0.3s;
		/*上圓角*/
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		/*
		下圓角由JS設定
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		 */
		
	}
	.ComboBox_content{
		background-color: aqua;
		background-color: #c6ecc6;
		border-color: #206020;
		border-width: 3px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-right-style: solid;
		font-size: 18px;
		
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		
		padding: 5px;
	}
	.ComboBox_title_number{/*ComboBox_title  padding-left同步*/
		position: absolute;
		top:0;
		left: 0%;
		height: 100%;
		width: 15%;
	}
	.ComboBox_title_number_seat{
		position:absolute;
		top:40%;/*calc不支援時使用*/
		left:40%;/*calc不支援時使用*/
		top:calc(50% - 15px );
		left: calc(50% - 5px);
	}
	.ComboBox_title_flagBox{/*.ComboBox_title  padding-right同步*/
		background-color: #206020;
		position: absolute;
		top:0;
		right: 0;
		height: 100%;
		width: 15%;
		
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.ComboBox_title_flagBox_seat{
		position:absolute;
		top:calc(50% - 15px);
		left: calc(50% - 15px);
	}
	.ComboBox_title_flagBox_flag{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 30px 15px;
		border-color: transparent transparent #133913 transparent;
		transition: 0.1s;
	}
	.ComboBox_title_flagBox_flag_open{
		transform: rotate(180deg);
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Safari 3-8 */
	}

