/****************/
/**非COMOBOX元素(frame1的套件)**/
/****************/

.frame1_contentBox_item_content{
		padding-top: 20px;
		
	}

/****************/
/**COMOBOX元素修正**/
/****************/
.ComboBox_title_number_seat{
	top:calc(50% - 15px );
}
@media (max-width:700px){
	.ComboBox_title_number_seat{
		left:25%;
	}	
}

.ComboBox_content{
	background-color: #efc;
	border-color:  #494;
	padding-left: 5%;
	padding-right: 5%;
}


.ComboBox_title{
	background-color: #494;
}
.ComboBox_title_flagBox{
	background-color: #474;
}