/*********架構調整****/	

.frame1_navBox_top50{
	top:50px;
}
.frame1_navBox_top100{
	top:100px;
}

.frame1_navBox{
	transition: 0.3s;
}
/********客製******/

	.frame1_contentBox_item_title{
		font-size: 25px;
	}

	@media (max-width:1000px){/***phone***/
		.frame1_contentBox_item_title{
			font-size: 20px;
		}
	}

	.frame1_navBox_item{
		font-size: 20px;
	}


	.frame1_contentBox_item_content{
		background-color:inherit;
		
	}

	@media (min-width:1000px){/***topdesk***/
		.frame1_contentBox_item_content{
			min-height: 300px; /*js set*/
			padding: 30px;
			line-height: 30px;
		}
	}

	.frame1{
		background-color:inherit;
	}
	.frame1_contentBox{
		background-color:inherit;
	}
	.frame1_contentBox_item{
		background-color:inherit;
	}

	.frame1_contentBox_item_title{
		background-color: #539768;
		color: #fff;
	}
	.frame1_navBox_item{
		background-color: #254b3e;
		color: #ccc;
		border-color: #ccc;
		text-indent: 5px;
		
	}



